*.settings
*.idea
*.classpath

*.iml
*.project
*.DS_Store
*.externalToolBuilders
*.log
/bin/
/target/
/out/
/dist/
/node_modules/
*.sublime*
npm-debug.log*



#vscode

.vscode
package-lock.json
__temp.zip